@tailwind base;
@tailwind components;
@tailwind utilities;

.hv {
    @apply transition duration-300 ease-in-out;
}

.intro-height {
    max-height: calc(100vh - 72px);
}

.about-height {
    max-height: calc(100vh - 5em);
}

.grid-masonry {
    
}

.grid-item-masonry {
    width: 31%;
    box-sizing: border-box;
    margin-bottom: 3.5%;
}

.grid-item-masonry  img:hover {
    transform: scale(1.1);
}

.gutter-sizer {
    width: 3.5%;
}
